                                        <option value="" disabled selected>Select an option</option>
                                        <option value="AMC">Annual Maintenance Contract (AMC)</option>
                                        <option value="Repair">Emergency Repair/Troubleshooting</option>
                                        <option value="Install">Installation & Commissioning</option>
                                        <option value="Calibration">Calibration & Quality Assurance</option>
                                        <option value="Consulting">Consulting & Procurement Advice</option>
                                        <option value="Other">Other</option>